<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuartzWebScheduler</title>
    <link rel="icon" type="image/x-icon" href="~/quartzwebscheduler.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootswatchTheme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuartzWebScheduler.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <header class="bg-primary fixed-top" data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand py-0" asp-area="" asp-page="/Index">
                    <img src="~/quartzwebscheduler.png" style="width: 64px; height: 64px;" alt="QuartzWebScheduler" />
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                            <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
                            <hr class="d-lg-none my-2 text-white-50">
                        </li>
                        @if (User.Identity!.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="User" asp-page="/App_Pools/Index">App Pools</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="User" asp-page="/Performance/Index">Performance</a>
                            </li>
                            <li class="nav-item dropdown ms-auto">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Management</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="User" asp-page="/Logs/Index">Logs</a>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="Admin" asp-page="/Users/Index">Users</a>
                                    }
                                </div>
                            </li>
                        }
                        <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                            <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
                            <hr class="d-lg-none my-2 text-white-50">
                        </li>

                    </ul>
                </div>
                <partial name="_LoginPartial" />
                <partial name="_DarkTheme" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="padding-top: 50px">
            @RenderBody()
        </main>
    </div>

    <style>
        .toast-bottom-right {
            bottom: 90px;
        }
    </style>

    <footer class="bg-primary fixed-bottom p-0" style="text-align: center" data-bs-theme="dark">
        <div class="container p-0">
            <div class="row p-0">
                <div class="col-md-6 d-flex align-items-center justify-content-start p-0">
                    <img src="~/quartzwebscheduler.png" style="width: 64px; height: 64px; padding: 10px;" alt="QuartzWebScheduler" />
                    <a href="https://www.xing.com/profile/Jiri_Skoda2/cv" target="_blank" class="btn btn-link">
                        Created by Jiri Skoda
                        <i class="bi bi-person-square"></i>
                    </a>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-end p-0">
                    <a href="https://github.com/Knabbermann/QuartzWebScheduler" target="_blank" class="btn btn-link">
                        Sourcecode
                        <i class="bi bi-github"></i>
                    </a>
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
                        <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const themeButtons = document.querySelectorAll('[data-theme-value]');
            const htmlTag = document.querySelector('html');

            themeButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const themeValue = this.getAttribute('data-theme-value');
                    htmlTag.setAttribute('data-bs-theme', themeValue);
                    localStorage.setItem('selectedTheme', themeValue);
                });
            });

            const savedTheme = localStorage.getItem('selectedTheme');
            if (savedTheme) {
                htmlTag.setAttribute('data-bs-theme', savedTheme);
            }
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")

</body>
</html>