@page
@model QuartzWebScheduler.Web.Areas.Admin.Pages.Users.CreateModel
@{
}

<div class="container p-3">
    <form method="post">
        <div class="row pt-4 align-items-center">
            <div class="row pb-2">
                <h2 class="text-primary">Create User</h2>
                <hr />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating py-2 col-6">
                <input asp-for="cUser.Email" class="form-control" aria-required="true" />
                <label asp-for="cUser.Email"></label>
                <span asp-validation-for="cUser.Email" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <select asp-for="Role" class="form-control">
                    <option value="">Select Role</option>
                    @foreach (var role in Model.Roles)
                    {
                        <option value="@role.Value">@role.Text</option>
                    }
                </select>
                <label asp-for="Role"></label>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <button class="w-100 btn btn-lg btn-primary" asp-area="Admin" asp-page="/Users/Create">Create User</button>
            </div>
            <div class="form-floating py-2 col-6">
                <a class="btn btn-outline-secondary w-100" asp-area="Admin" asp-page="/Users/Index">Back to list</a>
            </div>
        </div>
    </form>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}