@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="container p-5" style="padding: 50px">
    <div class="row align-items-center">
        <div class="col-md-6 mx-auto">
            <h1>Welcome to QuartzWebScheduler!</h1>
            <h2>Please login.</h2>
            <hr />
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="row pt-3 align-items-center mx-auto">
                    <div class="col-9 mx-auto">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-9 mx-auto">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="password" aria-required="true" />
                            <label asp-for="Input.Password"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="checkbox col-9 mx-auto">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div class="col-9 mx-auto">
                        <div class="text-center">
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                        </div>
                    </div>
                    <div class="col-9 mx-auto">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 text-center">
            <img src="~/quartzwebscheduler.png" alt="QuartzWebScheduler" class="img-fluid" style="padding: 50px" />
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
