@page
@using QuartzWebScheduler.Utility
@model QuartzWebScheduler.Web.Areas.Quartz.Pages.Quartz_Jobs.CreateModel
@{
}

<div class="container p-3">
    <form method="post">
        <div class="row pt-4 align-items-center">
            <div class="row pb-2">
                <div class="col">
                    <h2 class="text-primary d-inline-block">Create Quartz Job</h2>
                </div>
                <div class="col text-end">
                    <a href="https://freeformatter.com/cron-expression-generator-quartz.html" target="_blank" class="btn btn-link">CronExpression Generator</a>
                </div>
            </div>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating py-2 col-6">
                <input asp-for="QuartzJobConfig.JobName" class="form-control" aria-required="true" />
                <label asp-for="QuartzJobConfig.JobName"></label>
                <span asp-validation-for="QuartzJobConfig.JobName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <select asp-for="QuartzJobConfig.GroupName" class="form-control" aria-required="true" asp-items="Model.QuartzGroups">
                    <option value="None">None</option>
                </select>
                <label asp-for="QuartzJobConfig.GroupName"></label>
                <span asp-validation-for="QuartzJobConfig.GroupName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <select asp-for="QuartzJobConfig.IsActive" class="form-control">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                </select>
                <label asp-for="QuartzJobConfig.IsActive">Is Active</label>
                <span asp-validation-for="QuartzJobConfig.IsActive" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="QuartzJobConfig.CronExpression" class="form-control" aria-required="true" />
                <label asp-for="QuartzJobConfig.CronExpression"></label>
                <span asp-validation-for="QuartzJobConfig.CronExpression" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-3">
                <select asp-for="QuartzJobConfig.RequestType" class="form-control" aria-required="true" asp-items="new StaticDetails().RequestTypes">
                    <option value="">Please choose</option>
                </select>
                <label asp-for="QuartzJobConfig.RequestType"></label>
                <span asp-validation-for="QuartzJobConfig.RequestType" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-9">
                <input asp-for="QuartzJobConfig.RequestUrl" class="form-control" aria-required="true" />
                <label asp-for="QuartzJobConfig.RequestUrl"></label>
                <span asp-validation-for="QuartzJobConfig.RequestUrl" class="text-danger"></span>
            </div>
            <p>Optional:</p>
            <div class="form-floating py-2 col-12">
                <input asp-for="QuartzJobConfig.RequestBody" class="form-control" aria-required="true" />
                <label asp-for="QuartzJobConfig.RequestBody"></label>
                <span asp-validation-for="QuartzJobConfig.RequestBody" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <button class="w-100 btn btn-lg btn-primary" asp-area="Quartz" asp-page="/Quartz_Jobs/Create">Create Quartz Job</button>
            </div>
            <div class="form-floating py-2 col-6">
                <a class="btn btn-outline-secondary w-100" asp-area="Quartz" asp-page="/Quartz_Jobs/Index">Back to list</a>
            </div>
        </div>
    </form>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}