@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container p-3">
    <div class="row pt-4 align-items-center">
        <div class="col-12">
            <h2 class="text-primary">Dashboard</h2>
        </div>
        <div class="col-12">
            <h3 class="text-primary">Current running Quartz Jobs</h3>
        </div>
    </div>

    <table id="executingjobstable" class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr class="table-primary">
                <th>
                    GroupName
                </th>
                <th>
                    JobName
                </th>
                <th>
                    Planed Execution Time
                </th>
                <th>
                    Actual Execution Time
                </th>
                <th>
                    In Execution since
                </th>
            </tr>
        </thead>
        <tbody>
            
    </table>
    <div class="row pt-4 align-items-center">
        <div class="col-12">
            <h3 class="text-primary">Current scheduled Quartz Jobs</h3>
        </div>
    </div>
    <table id="jobdetailstable" class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr class="table-primary">
                <th>
                    GroupName
                </th>
                <th>
                    JobName
                </th>
                <th>
                    CronExpression
                </th>
                <th>
                    Last Execution
                </th>
                <th>
                    Next Execution
                </th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateTable() {
        $.ajax({
            url: '/api/quartz/executingJobs',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#executingjobstable tbody').empty();

                data.forEach(function (job) {
                    var executionTime = new Date() - new Date(job.fireTimeUtc);
                    var executionTimeInSeconds = Math.floor(executionTime / 1000);

                    var row = '<tr>' +
                        '<td>' + job.group + '</td>' +
                        '<td>' + job.name + '</td>' +
                        '<td>' + new Date(job.scheduledFireTimeUtc).toLocaleString() + '</td>' +
                        '<td>' + new Date(job.fireTimeUtc).toLocaleString() + '</td>' +
                        '<td>' + executionTimeInSeconds + ' sec</td>' +
                        '</tr>';

                    $('#executingjobstable tbody').append(row);
                });
            },
            error: function (xhr, status, error) {
                console.error("Fehler: " + error);
                console.error("Status: " + status);
                console.error("Response: " + xhr.responseText);
            }
        });
    }
    $(document).ready(function () {
        updateTable();
        setInterval(updateTable, 1000);
    });
</script>
<script>
    function updateJobDetailsTable() {
        $.ajax({
            url: '/api/quartz/jobDetails',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#jobdetailstable tbody').empty();
                data.forEach(function (job) {
                    var row = '<tr>' +
                        '<td>' + job.jobKey.group + '</td>' +
                        '<td>' + job.jobKey.name + '</td>' +
                        '<td>' + job.cronExpression + '</td>' +
                        '<td>' + new Date(job.lastFireTime).toLocaleString() + '</td>' +
                        '<td>' + new Date(job.nextFireTime).toLocaleString() + '</td>' +
                        '</tr>';


                    $('#jobdetailstable tbody').append(row);
                });
            },
            error: function (xhr, status, error) {
                console.error("Fehler: " + error);
                console.error("Status: " + status);
                console.error("Response: " + xhr.responseText);
            }
        });
    }
    $(document).ready(function () {
        updateJobDetailsTable();
        setInterval(updateJobDetailsTable, 10000);
    });
</script>
